body {
    background: #f0f8f0;
    font-family: system-ui;
    display: grid;
    place-content: center;
    min-height: 100vh;
    max-width: 800px;
    margin: 0 auto;
}

#video-container {
    width: 100%;
}

.participant video {
    width: 50%;
    height: auto;
}